@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}

body{
    scroll-behavior: smooth;
}

a:hover,a.active{
    color:#FF6476;
}


@media screen and (max-width: 768px) {
    * {
        font-size: 98%;
    }
}


.mobile-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 50vw;
}

.mobile-menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}